html, body {
    height: 100%;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
  }
  
  body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, content, footer */
  }

  header, article, footer {
    padding: 0 30px;
  }
  
  /* Header */
  
  header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 106px;
    text-transform: uppercase;
  }

  /* Navigation */

  nav ul {
    list-style: none;
    display: flex;
    font-size: 18px;
  }

  nav ul li:not(:last-child) {
    margin-right: 30px;
  }

  header a {
    text-decoration: none;
    color: black;
  }

  /* Main */
  
  #home {
    background-image: url("images/night-sky-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 2em;
    line-height: 1.6em;
  }

  #home p {
    width: 65%;
    margin: 0 auto 10px;
  }

  .page {
    width: 65%;
    margin: 50px auto 10px;
    font-size: 1.25em;
  }

  article button:first-of-type {
    margin-right: 20px;
  }

  button {
    background-color: black; 
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: .5em;
    text-transform: uppercase;
    margin-top: 30px;
  }

  /* Footer */
  
  footer {
    background-color: black;
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }

  footer a {
    text-decoration: none;
    color: white;
  }